<div class="cadastro-tarefa">
  <h1>
    Cadastro de Tarefa
  </h1>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput name="titulo" required [(ngModel)]="tarefa.titulo" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput name="titulo" name="descricao" [(ngModel)]="tarefa.descricao" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Data de Conclusão</mat-label>
    <input matInput [matDatepicker]="picker" name="concluirEm" [(ngModel)]="tarefa.concluirEm">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div>
    <mat-form-field>
      <mat-label>Equipe</mat-label>
      <mat-select (selectionChange)="salvaEquipesSelecionadas($event)">
        <mat-option *ngFor="let equipe of equipes" [value]="equipe.equipeId">{{ equipe.nome }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Usuário</mat-label>
      <mat-select (selectionChange)="salvaUsuariosSelecionados($event)">
        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.usuarioId">{{ usuario.username }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button mat-fab extended color="primary" routerLink="" (click)="salvarTarefa()" type="submit">
      Salvar
    </button>
  </div>
</div>