<mat-sidenav-container class="container-sidenav">
    <mat-sidenav #sidenav mode="side" opened>
        <a mat-button routerLink="/pages/tarefa/listar" class="link-side-nav primeiro-item">
            <div class="item-sidenav">
                <mat-icon class="icon-sidenav">menu</mat-icon>
                <span class="titulo-side-nav">Minhas tarefas</span>
            </div>
        </a>

        <a mat-button routerLink="/pages/equipe/listar" class="">
            <div class="item-sidenav">
                <mat-icon class="icon-sidenav">supervisor_account</mat-icon>
                <span class="titulo-side-nav">Minhas equipes</span>
            </div>
        </a>      
        <br>
        <a mat-button routerLink="/pages/usuario/listar" class="">
            <div class="item-sidenav">
                <mat-icon class="icon-sidenav">supervisor_account</mat-icon>
                <span class="titulo-side-nav">Meus usuários</span>
            </div>
        </a>  


        <div class="item-sidenav">
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>add</mat-icon>
                <span class="titulo-side-nav">
                    Cadastrar
                </span>
            </button>

            <mat-menu #menu="matMenu">

                <a mat-menu-item routerLink="pages/usuario/cadastrar">
                    Usuário
                </a>
                
                <a mat-menu-item routerLink="/pages/tarefa/cadastrar">
                    Tarefa
                </a>

                <a mat-menu-item routerLink="pages/equipe/cadastrar">
                    Equipe
                </a>
                
            </mat-menu>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet> <!-- o componente da rota será aberto dentro dessa tag -->

        </router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>