<div class="cadastro-equipe">
  <h5>
    Cadastro equipe
  </h5>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput name="nome" required [(ngModel)]="equipe.nome" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Tarefas</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let tarefa of tarefas" [value]="tarefa.tarefaId">{{ tarefa.titulo }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Usuarios</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.usuarioId">{{ usuario.nome }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button mat-fab extended color="primary" routerLink="" type="submit" class="div-button">
      Salvar
    </button>
  </div>

</div>