.cadastro-usuario {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin: 0px 20px;
  }
  
  mat-form-field, button {
    width: 90%; /* Isso garante que os campos ocupem toda a largura */
  }
  