<div class="cadastro-usuario">
  <h1>
    Cadastro de Usuário
  </h1>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput name="nome" required [(ngModel)]="usuario.nome" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput name="username" required [(ngModel)]="usuario.username" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput name="senha" required [(ngModel)]="usuario.senha" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput name="email" [(ngModel)]="usuario.email" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput name="telefone" [(ngModel)]="usuario.telefone" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div *ngIf="usuario.usuarioId"> <!-- Verifica se o usuário tem um ID para exibir o botão Editar -->
    <button mat-fab extended color="primary" (click)="editarUsuario()" type="submit">
      Editar
    </button>
  </div>
  <div *ngIf="!usuario.usuarioId"> <!-- Caso contrário, exibe o botão Salvar -->
    <button mat-fab extended color="primary" (click)="salvarUsuario()" type="submit">
      Salvar
    </button>
  </div>
</div>
